{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block aboutactive %}active{% endblock aboutactive %}

{% block body %}


<div class="container my-5">

    <h1 class="text-center"><u>About-Us</u></h1>
    <div class="border border-5 h-5 p-3 my-5" style="height: 200px;">
    <h4>About Author 1</h4>
    </div>
    <div class="border border-5 h-5 p-3 my-5" style="height: 200px;">
    <h4>About Author 2</h4>
    </div>
    <div class="border border-5 h-5 p-3 my-5" style="height: 200px;">
    <h4>About Author 3</h4>
    </div>
    <div class="border border-5 h-5 p-3 my-5" style="height: 200px;">
    <h4>About Author 4</h4>
    </div>
    <div class="border border-5 h-5 p-3 my-5" style="height: 200px;">
    <h4>About Author 5</h4>
    </div>
</div>



{% endblock body %}