{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block contactactive %}active{% endblock contactactive %}

{% block body %}



<div class="container">

    <h1 class="text-center my-5"><u><i>Contact-Us</i></u></h1>

    {% if user.is_authenticated %}

    <form class="row g-3" action="/contact" method="post"> {% csrf_token %}
        <div class="col-6">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" value="{{request.user.get_full_name}}" name="name" id="name" placeholder="Enter your Full Name" required>
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" value="{{request.user.email}}" name="email" id="email" placeholder="Enter your Email" required>
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" name="city" id="city" placeholder="Enter your City" required>
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label">State</label>
            <input type="text" class="form-control" name="state" id="state" placeholder="Enter your State" required>            
        </div>
        <div class="col">
            <label for="desc" class="form-label">Tell us about yourself / Describe your Issue / Write Your Query / How may we help you?</label>
            <textarea class="form-control" name="desc" id="desc" rows="7" required></textarea>
          </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

{% else %}

    <form class="row g-3" action="/contact" method="post"> {% csrf_token %}
        <div class="col-6">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Full Name" required>
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter your Email" required>
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" name="city" id="city" placeholder="Enter your City" required>
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label">State</label>
            <input type="text" class="form-control" name="state" id="state" placeholder="Enter your State" required>            
        </div>
        <div class="col">
            <label for="desc" class="form-label">Tell us about yourself / Describe your Issue / Write Your Query / How may we help you?</label>
            <textarea class="form-control" name="desc" id="desc" rows="7" required></textarea>
          </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    {% endif %}
</div>



{% endblock body %}