{% extends 'base.html' %}


{% block body %}


<div class="container my-5">

    <h1 class="text-center"><u><i>Search Results</i></u></h1>

    {% if posts|length < 1 %}
    <br><br>
    <pre>
        Your search query: - <u><b>{{word}}</b></u> - did not match any posts.
    
        Suggestions:         
                    Make sure that all words are spelled correctly.
                    Try different keywords.
                    Try more general keywords.
                    Try fewer keywords.
    </pre>   
    
    
    {% endif %}

    {% for post in posts %}
    <div class="row mb-2 my-5">
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">                    
                    <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
                    <h3 class="mb-0">{{post.title}}</h3>
                    <div class="mb-1 text-muted">{{post.datetime}}</div>
                    <p class="card-text mb-auto">{{post.content|truncatechars:300}}</p>
                    <a href="/blog/readingpost/{{post.num}}" class="stretched-link">Continue reading</a>
                </div>
            </div>
        </div>       
    </div>
    {% endfor %}

</div>


<p>{{title}}</p>
{% endblock body %}