{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

{% block blogactive %}active{% endblock blogactive %}

{% block body %}


<div class="container my-5">

    <h1 class="text-center"><u><i>Posts</i></u></h1>

    {% for post in posts %}
    <hr class="featurette-divider my-4">

    <div class="row featurette d-flex align-items-center border border-5 p-3 px-0 position-relative">
        <div class="col-md-8">
            <h2 class="featurette-heading">{{post.title}}</h2>
            <p class="blog-post-meta">{{post.datetime}}</p>
            <p class="lead">{{post.content|truncatechars:200}}</p>
                <a href="/blog/readingpost/{{post.num}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-md-4">
        
        </div>
    </div>
    <hr class="featurette-divider">
    {% endfor %}

</div>








{% endblock body %}